{% extends "base.html" %}

{% block content %}
<h1>Hi, {{ current_user.username }}!</h1>
{%if form%}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.deepspeechlog.label }}<br>
        {{ form.deepspeechlog(cols=32, rows=4) }}<br>
        {% for error in form.deepspeechlog.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endif %}
{% for deepspeechlog in deepspeechlogs %}
    {% include 'deepspeechlog.html' %}
{% endfor %}
{% if prev_url %}
<a href="{{ prev_url }}">Newer DeeSpeechLogs</a>
{% endif %}
{% if next_url %}
<a href="{{ next_url }}">Older DeepSpeechLogs</a>
{% endif %}
{% endblock %}